@model IEnumerable<rgik.Models.Gra>

@{
    ViewBag.Title = "Pozycje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pozycje</h2>

    @Html.MvcSiteMap().SiteMapPath();
@foreach(var gra in Model)
{
    @gra.NazwaGry
}
