@model IEnumerable<rgik.Models.Ksiazka>
@using rgik.Infrastucture

@{
    ViewBag.Title = "Fanstastyka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fanstastyka</h2>

@foreach(var ksiazka in Model)
{
    @ksiazka.NazwaKsiazki;
}