@model IEnumerable<rgik.Models.Gra>
@using rgik.Infrastucture

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var windows in Model)
    {
        <li>
            <p>
                Nazwa gry : @windows.NazwaGry
                Opis : @windows.Opis
                <img src="@Url.ObrazkiSciezka(windows.NazwaPlikuObrazka)"/>
            </p>

        </li>
    }
</ul>
