@model IEnumerable<rgik.Models.Gra>
@using rgik.Infrastucture

@{
    ViewBag.Title = "Windows";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Windows</h2>
@Html.MvcSiteMap().SiteMapPath()
<ul>
    @foreach (var gra in Model)
    {
        <li>
            <img  @Url.ObrazkiSciezka(gra.NazwaPlikuObrazka)/>
            <p>@gra.NazwaGry</p>
        </li>
    }
</ul>